# Dependencias
backend/node_modules/
node_modules/

# Base de datos persistente (Docker)
mysql_data/

# Variables de entorno
.env

# Logs y archivos temporales
*.log
npm-debug.log*
.DS_Store

# Carpetas de cobertura o build (si las tuvieras)
coverage/
dist/