<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reservas</title>
</head>
<body>
    <h1>Tus Turnos Reservados</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="tablaMisTurnos"></tbody>
    </table>

    <br>
    <a href="turnos.html">Pedir otro turno</a>

<div id="modalExito" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.85); display: none; align-items: center; justify-content: center; z-index: 99999;">
    <div style="background: white; padding: 40px; border-radius: 30px; text-align: center; box-shadow: 0 10px 40px rgba(0,0,0,0.6);">
        <video id="videoCheck" width="200" muted playsinline>
            <source src="/assets/video/check.mp4" type="video/mp4">
        </video>
        <h2 id="modalTxt" style="color: #1e293b; margin-top: 15px; font-family: sans-serif;">¡Hecho!</h2>
    </div>
</div>

    <script src="assets/js/mis-turnos.js"></script>
</body>
</html>