<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reservas</title>
</head>
<body>
    <h1>Tus Turnos Reservados</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="tablaMisTurnos"></tbody>
    </table>

    <br>
    <a href="turnos.html">Pedir otro turno</a>

    <script src="assets/js/mis-turnos.js"></script>
</body>
</html>